<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodingTest</title>
  </head>
  <body>

    <h1>[리티스] APIM 솔루션 신입 개발자 Coding Test</h1>
    <h2>지원자 이름 : 송영민</h2>

    <ul>
      <li>
        <a href="/test1">1번 문제</a>
      </li>
      <li>
        <a href="/test2">2번 문제</a>
      </li>
      <li>
        <a href="/test3">3번 문제</a>
      </li>
      <li>
        <a href="/test4">4번 문제</a>
      </li>
      <li>
        <a href="/test5">5번 문제</a>
      </li>
      <li>
        <a href="/test6">6번 문제</a>
      </li>
      <li>
        <a href="/test7">7번 문제</a>
      </li>
    </ul>

    
  </body>
</html>