<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test2</title>
</head>
<body>

  <h1>조직테이블을 설계하고 DDL을 제출 하시오.</h1>
  <h2>사용 DBMS : ORACLE</h2>

  <pre>
-- TABLE 생성
CREATE TABLE ORGANIZATION (
	ORG_ID NUMBER PRIMARY KEY,
	ORG_NAME NVARCHAR2(50) NOT NULL,
	PARENT_ORG_ID NUMBER,
	CONSTRAINT FK_PARENT FOREIGN KEY (PARENT_ORG_ID) REFERENCES ORGANIZATION (ORG_ID)
);

-- ORG_ID 시퀀스 생성
CREATE SEQUENCE SEQ_ORG_ID NOCACHE;

-- 데이터 삽입
-- 최상위 조직
INSERT INTO ORGANIZATION VALUES (SEQ_ORG_ID.NEXTVAL, '대표이사', NULL);


-- 1단계 하위 조직(경영관리 / 영업본부 / 솔루션사업부 / 연구소)
INSERT INTO ORGANIZATION VALUES (SEQ_ORG_ID.NEXTVAL, '경영관리', 1);
INSERT INTO ORGANIZATION VALUES (SEQ_ORG_ID.NEXTVAL, '영업본부', 1);
INSERT INTO ORGANIZATION VALUES (SEQ_ORG_ID.NEXTVAL, '솔루션사업부', 1);
INSERT INTO ORGANIZATION VALUES (SEQ_ORG_ID.NEXTVAL, '연구소', 1);


-- 2단계 하위 조직(영업1,2팀 / 프로젝트 수행팀 / 연구소 1,2)
INSERT INTO ORGANIZATION VALUES (SEQ_ORG_ID.NEXTVAL, '영업 1팀', 3);
INSERT INTO ORGANIZATION VALUES (SEQ_ORG_ID.NEXTVAL, '영업 2팀', 3);


INSERT INTO ORGANIZATION VALUES (SEQ_ORG_ID.NEXTVAL, '프로젝트 수행팀', 4);

INSERT INTO ORGANIZATION VALUES (SEQ_ORG_ID.NEXTVAL, '연구소 1', 5);
INSERT INTO ORGANIZATION VALUES (SEQ_ORG_ID.NEXTVAL, '연구소 2', 5);


INSERT INTO ORGANIZATION VALUES (SEQ_ORG_ID.NEXTVAL, '엔진개발', 9);

INSERT INTO ORGANIZATION VALUES (SEQ_ORG_ID.NEXTVAL, '솔루션 개발', 10);
INSERT INTO ORGANIZATION VALUES (SEQ_ORG_ID.NEXTVAL, '시스템 개발', 10);

COMMIT;
  </pre>
  
</body>
</html>